table {
    width: 60%;
    border-collapse: collapse;
    margin: 20px auto;
  }
  th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  th {
    cursor: pointer;
    background-color: #f2f2f2;
  }
  th:hover {
    background-color: #ddd;
  }

.headerSortDown:after,
.headerSortUp:after{
    content: ' ';
    position: relative;
    left: 10px;
    border: 7px solid transparent;
}
.headerSortDown:after{
    top: 10px;
    border-top-color: silver;
}
.headerSortUp:after{
    bottom: 15px;
    border-bottom-color: silver;
}
.headerSortDown,
.headerSortUp {
  padding-right: 10px;
}